# 論理演算

機械学習モデルで大事な考えであるパーセプトロンやニューラルネットワークについて学ぶ前に、
それらの基礎となる論理演算について学びます。

論理演算とは0(false/偽)と1(true/真)のどちらか2つに1つの値しか取らない値(Booleanと呼びます)
が入力されたとき、一定のルールに基づいて、入力と同じように0または1を出力する計算のことです。

代表的な論理演算の例を見ていきましょう。

## NOT演算

NOT演算は以下の表のように、0が入力されたときには1を、1が入力されたときには0を返す、入力とは逆の数値を出力する演算です。
式で表すときは$\lnot A$と書きます。

In [1]:
import ttg

In [2]:
table = ttg.Truths(['input'], ['~input'] )
table.as_pandas()

   input  ~input
1      1       0
2      0       1

## AND演算

ここから先は入力が２つある論理演算の代表例を見ていきます。

AND演算は2つの入力の両方が1のときだけ1を返す演算です。
式で表すと$A \land B$と書きます。

In [3]:
table = ttg.Truths(['input1', 'input2'], ['input1 and input2'] )
table.as_pandas()

   input1  input2  input1 and input2
1       1       1                  1
2       1       0                  0
3       0       1                  0
4       0       0                  0

## OR演算

OR演算は2つの入力のどちらか片方が1であれば1を返す演算です。
入力が両方とも0のときだけ0を返す演算とも言いかえられます。
式で表すと$A \lor B$と書きます。

In [4]:
table = ttg.Truths(['input1', 'input2'], ['input1 or input2'] )
table.as_pandas()

   input1  input2  input1 or input2
1       1       1                 1
2       1       0                 1
3       0       1                 1
4       0       0                 0

## NAND演算

NAND演算はNOT ANDを意味し、
その名の通りANDの逆で、2つの入力の両方が1のときだけ0を返す演算です。 式で表すと $\lnot (A \land B)$ と書きます。

In [5]:
table = ttg.Truths(['input1', 'input2'], ['input1 nand input2'] )
table.as_pandas()

   input1  input2  input1 nand input2
1       1       1                   0
2       1       0                   1
3       0       1                   1
4       0       0                   1

## NOR演算

NOR演算はNOT ORを意味し、
その名の通りORの逆で、2つの入力のどちらか片方が0であれば1を返す演算です。
2つの入力の両方が0のときだけ1を返す演算とも言いかえられます。
式で表すと $\lnot (A \lor B)$ と書きます。

In [6]:
table = ttg.Truths(['input1', 'input2'], ['input1 nor input2'] )
table.as_pandas()

   input1  input2  input1 nor input2
1       1       1                  0
2       1       0                  0
3       0       1                  0
4       0       0                  1

## XOR演算

XOR演算は２つの入力が同じ時には0を、異なるときには1を返す演算です。

後にパーセプトロンについて学ぶときに示唆的な演算となりますので、心に留めておきましょう。

In [7]:
table = ttg.Truths(['input1', 'input2'], ['input1 xor input2'] )
table.as_pandas()

   input1  input2  input1 xor input2
1       1       1                  0
2       1       0                  1
3       0       1                  1
4       0       0                  0

## どんな複雑な論理演算もこれらの論理演算と組み合わせて作ることが出来る

ここでは論理演算は入力が最大で２つしかないシンプルな論理演算について学びました。
しかし、入力が数多くあるどんなに複雑な論理演算でも、ここで紹介した簡単な論理演算を組み合わせて実現することができます。

この考えがニューラルネットワークや深層学習など、複雑なタスクを行うアルゴリズムの実装に非常に重要な考えになっています。